<table>
  <tr>
    <th>Coach</th>
    <th>Student</th>
  </tr>

<% @guidances.each do |guidance| %>
  <tr>
    <td><%=h guidance.coach.username %></td>
    <td><%=h guidance.student.username %></td>
    <td><%= acceptance_links guidance %></td>
  </tr>
<% end %>
</table>
