[submodule "vendor/plugins/state_machine"]
	path = vendor/plugins/state_machine
	url = git://github.com/pluginaweek/state_machine.git
[submodule "vendor/plugins/auto_complete"]
	path = vendor/plugins/auto_complete
	url = git://github.com/rails/auto_complete.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/exceptional"]
	path = vendor/plugins/exceptional
	url = git://github.com/contrast/exceptional.git
[submodule "vendor/plugins/xss_terminate"]
	path = vendor/plugins/xss_terminate
	url = git://github.com/look/xss_terminate.git
