[submodule "vendor/plugins/state_machine"]
	path = vendor/plugins/state_machine
	url = git://github.com/pluginaweek/state_machine.git
[submodule "vendor/plugins/auto_complete"]
	path = vendor/plugins/auto_complete
	url = git://github.com/rails/auto_complete.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/rspec_rr"]
	path = vendor/plugins/rspec_rr
	url = git://github.com/josephwilk/rspec-rr.git
[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/recaptcha"]
	path = vendor/plugins/recaptcha
	url = git://github.com/ambethia/recaptcha.git
