<p>
  <%=h @publication.text %>
</p>

<p>
  <%=h @publication.line.text %>
</p>

<p>
  <%= link_to @publication.group.name, @publication.group %>
</p>

<%= link_to 'notices of valor', publications_path %>