<p>
  <%=h @publication.text %>
</p>

<p>
  <%= link_to_name @publication.line, 'phrasing' %>
</p>

<p>
  <%= link_to_name @publication.group %>
</p>

<%= link_to 'notices of valor', publications_path %>