.slogan {
	color: #6A050E;
	font-style: italic;
	font-size: 22px;
	padding-left: 19px;
	padding-bottom: 12px;
}

.introduction {
	font-size: 19px;
}

#about p {
	border: 1px solid #710067;
	padding: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}