.affirmation.borderedbox {
	border: 1px #FFF6D6 solid;
}

.affirmation {
	font-weight: bold;
	font-size: 18px;
}

.affirmation a {
	text-decoration: none;
	color: black;
}

#new_affirmation {
	text-align: center;
}

.affirmation_explanation {
	text-align: center;
	margin: 4px;
	border: solid 1px #C9C9C9;
	border-radius: 10px;
	background-color: white;
}