#logo {
	margin-left: 23px;
}

#login {
	position: absolute;
	top: 2px;
	right: 30px;
}

#profile {
	position: absolute;
	top: 30px;
	right: 30px;
	font-family: Trebuchet MS;
	text-decoration: none;
	font-size: 17px;
}

#navigation #login:hover {
	background-color: white;
}

#new_line {
	float: left;
}

#search {
	float: left;
	margin-left: 25px;
}

.borderedbox {
	font-size: 1.4em;
	-webkit-border-radius: 7px;
	margin: 4px;
	padding: 9px;
}