#logo {
	margin-left: 23px;
}

#login {
	position: absolute;
	top: 2px;
	right: 30px;
}
#profile {
	position: absolute;
	top: 30px;
	right: 30px;
	font-family: Trebuchet MS;
	text-decoration: none;
	font-size: 17px;
}

#navigation #login:hover {
	background-color: white;
}