#big_box {
	margin: 39px;
	margin-top: 5px;
	font-family: Trebuchet MS;
}

#new_line {
	width: 100%;
	text-align: center;
}

#new_line input {
	top: -4px;
}

#new_line, #dare {
	border: 1px #75C3DA solid;
	border-radius: 6px;
}

.line.borderedbox {
	border: 1px #75C3DA solid;
}

#navigation {
	text-align: center;
}

#navigation a, #footer a {
	border-radius: 11px;
	margin: 2px;
	padding: 9px;
	padding-top: 20px;
	padding-bottom: 0px;
	background-color: #fff;
	border: 1px solid #C9C9C9;
}

.publication {
	font-size: .79em;
	color: #3E2999;
}

a.publication:hover {
	background: #3E2999;
	color: white;
}

a.scene {
	color: #317357;
}

a.result {
	color: #A51403;
}

.pick-up-artist {
	margin: 4px;
	color: #520C99;
	float: right;
}
.left {
	
}
.right {
	float: right;
	margin-left: 50px;
}
.clearfix {
	clear: both;
}

img.goal {
	width: 100px;
	float: right;
	margin-left: 10px;
}

.sort {
	float: right;
}

/* voting slider */
.handle {
  width: 5px;
  height: 11px;
  background-color: #990E5F;
}
 
.track {
  float: right;
  width: 50px;
  height: 2px;
  background-color: #999;
}

.current_value {
	position: absolute;
	left: -28px;
}

.random_line {
	font-size: 20px;
	text-align: center;
}