.pick-up-artist {
	margin: 4px;
	color: #520C99;
	float: right;
}
.left {
	
}
.right {
	float: right;
	margin-left: 50px;
}
.clearfix {
	clear: both;
}

/* voting slider */
.handle {
  width: 5px;
  height: 11px;
  background-color: #990E5F;
}
 
.track {
  float:left;
  width: 500px;
  height: 2px;
  background-color: #999;
}