#big_box {
	margin: 39px;
	margin-top: 5px;
	font-family: Trebuchet MS;
}

.line {
	font-size: 1.4em;
	border: 1px #75C3DA solid;
	-webkit-border-radius: 7px;
	margin: 4px;
	padding: 9px;
}

#navigation {
	text-align: center;
}

.publication {
	font-size: .79em;
	color: #3E2999;
}

a.publication:hover {
	background: #3E2999;
	color: white;
}

a.scene {
	color: #317357;
}

a.result {
	color: #A51403;
}

.pick-up-artist {
	margin: 4px;
	color: #520C99;
	float: right;
}
.left {
	
}
.right {
	float: right;
	margin-left: 50px;
}
.clearfix {
	clear: both;
}

img.goal {
	width: 100px;
	float: right;
	margin-left: 10px;
}

.sort {
	float: right;
}

/* voting slider */
.handle {
  width: 5px;
  height: 11px;
  background-color: #990E5F;
}
 
.track {
  float: right;
  width: 50px;
  height: 2px;
  background-color: #999;
}

.current_value {
	position: absolute;
	left: 13px;
}

.random_line {
	font-size: 20px;
	text-align: center;
}