#new_user_session input, #new_user input {
	position: relative;
	right: 1px;
}

input#recaptcha_response_field { 
	left: 0px;
}

#im_new {
	margin-left: 80px;
	margin-right: 80px;
}

#login_space {
	text-align: center;
	padding-top: 12px;
}

#login_space img {
	vertical-align: bottom;
	padding-top: 9px;
}