body { background-image: url('/images/texture.jpg'); color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a { 
  color: #060066;
}