.tag_creation {
	display: block;
	top: 10px;
}

.tags {
	display: inline;
}

.line .list {
	font-size: 13px;
}

.tagger {
	float: right;
	position: relative;
	bottom: 14px;
}

.tag {
	display: inline;
	padding: 1px;
}

.tags .tip {
	background-color: #8B575B;
}

.tags .list {
	background-color: #5B6C99;
}

.tags .concept {
	background-color: #87D6CB;
}

.tags .goal {
	background-color: #998357;
}