.tip {
	font-size: 1.4em;
	border: 1px #6E030C solid;
	-webkit-border-radius: 7px;
	margin: 4px;
	padding: 9px;
}

.tip a {
	text-decoration: none;
	color: black;
}

#new_tip {
	text-align: center;
}

.average_rating {
	float: right;
	padding-right: 2px;
}