<h1>scenes</h1>
<h3>Here are some of the places where guys are practicing their conversation skills.  You can use the iPhone app Talk To Her to meet up with a wingman near you!</h3>
<% pagination_and_sorting_for @scenes do %>
  <%= render :partial => @scenes %>
<% end %>
