<% pagination_and_sorting_for @scenes do %>
  <div id="scenes">
	  <%= render :partial => @scenes %>
  </div>
<% end %>
<% form_for Scene.new, :update => 'scenes', :position => 'bottom', :loading => "$('new_scene').reset();show_activity_indicator()", :complete => 'hide_activity_indicator' do |f| %>
  <%= f.text_field :name %><%= f.submit 'add scene' %>
<% end %>