<div id='draggable_lists'>
	<% current_user.lists.each do |list| %>
	  <% div_for list, :class => 'borderedbox' do %>
			<%= list.name %>
			<% div_for list, 'items' do %>
			  <%= render :partial => 'shared/list_items', :locals => {:list_items => list.list_items} %>
			<% end %>
		<% end %>
	<% end %>
</div>