<div id='draggable_lists'>
	<% current_user.lists.each do |list| %>
	  <% div_for list, :class => 'borderedbox' do %>
			<%= link_to_remote list.name, :url => list_list_items_path(list), :update => dom_id(list, 'items'), :method => :get %>
			<% div_for list, 'items' do %>
			<% end %>
		<% end %>
	<% end %>
</div>