<div id='about'>
	<img src='images/starting_motto.png' id='motto'>

	<p class="introduction">
	  Line of the Day is a tool that you can use to find interesting lines to use in conversation!
	</p>

	<a href='/users/new'>OK SIGN ME UP.!</a>

	<p>
		Most guys meet their girlfriends through an introduction from a friend.  If you take the time to <em>introduce yourself</em> to people, you may be in the minority!  But good for you.
	</p>

	<p>
		When you meet someone you really like, you get a <strong>strong feeling of energy and nervousness</strong>.  There is a good reason for this!  But that explanation is not for this page - for now I just want to point out that when your mind goes <strong><em>blank</em></strong>, you can rely on one of the lines from this site to get things going.
	</p>

	<p>
		For the most part, girls don't <em>really</em> care what you say, <strong>they care how you say it</strong>.  But you still need something to say, right?  Why not make it a funny line that shows your <em>casual confidence</em>?  That's the goal anyway.
	</p>

	<p>
		Most pickup lines are jokes.  If you write a joke about sex that could apply to anyone, it comes off as cheesy - hence the stigma (i.e. pickup as a dirty word).  That's why it's important to <strong>be observant</strong> about the girl and the environment in which the two of you have chanced upon each other.  Take a line and <strong>plug in details about her!</strong>  Then listen to what she says in response and talk about that instead!  (Unless it's a boyfriend lol!)
	</p>

	<p>
		You don't have to joke, though!  Telling a girl plainly that you like her works better than you might expect.  But there is a right and a wrong way to do this.  If you compliment a girl on her appearance, she might subconsciously think that she is too good for you (this is especially true if the girl is really hot).  It's usually safer to compliment something more abstract like her <strong>'energy'</strong>, or maybe her 'serene presence'.  Or, make it specific, like her haircut or her belt.  If you do go for a simple compliment, steer clear of words like 'gorgeous' and 'sexy' that girls associate with harassing catcalls (which are more common than you can imagine, and quite hurtful).  Or, <em>mix a compliment with a tease</em>: "Oh, your hat is so cute, it's like you robbed a hobo!"
	</p>

	<p>
		After you deliver the compliment, change the subject.  Do not discuss the compliment!  Also, it works better if she acknowledges you before you deliver the line, so get her attention before you launch into it.  For this purpose, a simple 'hey!' is better than 'excuse me...' because <em>you do not want to apologize</em> for being outgoing!
	</p>

	<p>
		More pickup tips soon.  Now a couple facts about the site.  How you use it:
	</p>
	<ul>
		<li>
			browse lines
		</li>
		<li>
			write your lines
		</li>
		<li>
			take notes about where you used lines and how well they worked
		</li>
		<li>
			comment on lines
		</li>
		<li>
			join groups and post lines to the group
		</li>
		<li>
			your lines can be private, public, or visible only to certain groups
		</li>
		<li>
			coaching, tagging and many more features coming shortly
		</li>
	</ul>
	<a href='/users/new'>SIGN ME UP ALREADY.!</a>
</div>