<strong>How much does/will the site cost?</strong>
<em>The site is free.  The iPhone app will be a few bucks.  Coaching purchased through the site may be free or not.</em>
<br><br>
<strong>Why don't my friends see my lines?  Why hasn't anyone voted or commented on them?</strong>
<em>Lines are private until you make them public.  You can also choose to publish your lines to certain groups, and when you do so, you can specify whether those group members can then publish them to others, or not.</em>
<br><br>
<strong>How do I write a line?</strong>
<em>Use the box directly below the logo to enter your lines.</em>
<br><br>
<strong>What is the site for?</strong>
<em>Browse lines, tips, affirmations, and blogs.  Comment, rate, tag, and use the information you like!</em>
<br><br>
<strong>How do I tag?</strong>
<em>You can tag content with words, or with anything that you have on a list.  Click the 't' links to tag.</em>
<br><br>
<strong>How do I add things to lists?</strong>
<em>Use the plus (+) links.</em>
<br><br>
<strong>How can I send you an email?</strong>
<em><script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%69%6e%66%6f%40%6c%69%6e%65%6f%66%74%68%65%64%61%79%2e%63%6f%6d%22%3e%63%6f%6e%74%61%63%74%3c%2f%61%3e%27%29%3b'))</script></em>
<br><br>
<strong>How do I add my blog?</strong>
<em>Go to 'blogs' and click 'add a blog' at the bottom of the page.  Or click <a href='blogs/new'>here</a></em>
<br><br>
<strong>Do you advocate safe sex?</strong>
<em>Yes.  Safe sex is the best sex, because you never have to worry about it or feel funny about it later.</em>
<br><br>
<strong>Isn't picking up girls manipulative and wrong?</strong>
<em>No.  Girls like it when you show interest as long as you are respectful (although you can tease) and you keep an eye out for anyone who gets really uncomfortable.  You have to set your own ethical standards of course, but picking up girls is definitely okay!  Sometimes you make a mistake and hurt someone's feelings, but I think you're more likely to hurt her if you don't open your mouth at all and just walk away :(......</em>
<br><br>
<strong>Are you a master pick-up artist?</strong>
<em>Nope.  I do pretty well but I am still learning!  I figure the best way to learn is by teaching.</em>
<br><br>
<strong>Why should I actually join the site?</strong>
<em>You can rate, comment on and tag things, add your own lines, join groups, and a lot more.  You can also make lists of your favorite stuff.</em>
<br><br>
<strong>What is your favorite blog?  I don't have time for this.</strong>
<em>Approach Anxiety.</em>
<br><br>
