<p>
By joining and using this site you agree to the following legal and cultural stipulations:
</p>
<p>
1. I am responsible for my own words.
</p>
<p>

2. lineoftheday.com and its creators, hosts, and owners are not liable or responsible for the content submitted by members of the site.
</p>
<p>

3. I will strive to show respect for my peers at all times.
</p>
<p>

4. I do not have a right to participate.  Rather, my ability to participate is a privilege that can be revoked for any reason.
</p>
<p>

5. Some content can be marked as private.  However, that does not prevent it from being viewed or published by the administrator of lineoftheday.com.
</p>
<p>

6. I will be honest when I indicate whether I have completed my goals.
</p>

<p>
7. I understand that these terms may change at any time, with or without my knowledge, and I will still be bound to honor them to the best of my ability.
</p>