<p>
By joining and using this site you agree to the following legal and cultural stipulations:
</p>
<p>
1. I am responsible for my own words.
</p>
<p>

2. lineoftheday.com and its creators, hosts, and owners are not liable or responsible for the content submitted by members of the site.
</p>
<p>

3. I will strive to show respect for my peers at all times.
</p>
<p>

4. I do not have a right to participate.  Rather, my ability to participate is a privilege that can be revoked for any reason.
</p>
<p>

5. Some content can be marked as private.  However, that does not prevent it from being viewed or published by the administrator of lineoftheday.com.
</p>
<p>

6. I will be honest when I indicate whether I have completed my goals.
</p>

<p>
7. I understand that these terms may change at any time, with or without my knowledge, and I will still be bound to honor them to the best of my ability.
</p>

<script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%69%6e%66%6f%40%6c%69%6e%65%6f%66%74%68%65%64%61%79%2e%63%6f%6d%22%3e%63%6f%6e%74%61%63%74%3c%2f%61%3e%27%29%3b'))</script>