<p>
By joining and using this site you agree to the following legal stipulations:
</p>
<p>
1. I am responsible for my own words.
</p>
<p>

2. Line of the Day (lineoftheday.com) and its creators, hosts, and owners are not liable or responsible for the content submitted by members of the site.
</p>
<p>

3. I will strive to show respect for your peers at all times.
</p>
<p>

4. I do not have a right to participate.  Rather, my ability to participate is a privilege that can be revoked for any reason.
</p>
<p>

5. Some content can be marked as private.  However, that does not prevent it from being used or viewed in any circumstances as are seen fit by the administrator of Line of the Day.
</p>
<p>

6. I will be honest when you indicate whether you have completed your goals.
</p>

<p>
7. I understand that these terms may change at any time, with or without my knowledge, and I will still be bound to honor them to the best of my ability, notwithstanding the constraints provided by the legal system of the state in which I reside.
</p>