<h1>stuff that happened</h1>

<table>

<% @results.each do |result| %>
  <tr>
    <td><%=h result.name %></td>
    <td><%= link_to pluralize(result.approaches.count, 'time'), result_approaches_path(result) %></td>
    <td><%= link_to 'hmm', result %></td>
  </tr>
<% end %>
</table>