<div class='tag_creation'>
	<% form_remote_for @tag, :update => dom_id(@tag.target, 'tag_count'), :loading => "$('new_tag').reset();" do |f| %>
		<%= f.hidden_field :target_type %><%= f.hidden_field :target_id %>
		<%= text_field_tag :concept, nil, :size => 20 %><%= f.submit 'comma separated tags' %>
	<% end %>
</div>