<%= link_to image_tag('top_rated.png'), {:sort => 'rating'}, :class => 'sort' %>
<div class='clearfix'>click the title to expand a post.</div>
<%= render :partial => @posts %>
<%= will_paginate @posts %>