<h1><a href="http://itunes.apple.com/us/app/talktoher/id384896043?mt=8#">Talk To Her</a> is an iPhone app that helps you start conversations with people you don't know.</h1>
<h2 style='text-align:center'>Some of them are really cool, but you'll have to get past their defenses to find out why.</h2>
<p class='borderedbox'>
	Do you see that cutie who looks like she's having a good time?  What should you say to her?  Normally this is the time where you'd go to the bar, gulp down your beer and start waiting to order another.  Now, <b><strike>for half the price of that beer</strike> free for a limited time</b>, you can browse thousands of suggestions for what to say.
</p>
<p class='borderedbox'>
	Talk To Her will probably install on your iPhone faster than the bartender would get you that next round anyway.  It's a simple app because you only need to use it for 5 seconds at a time.  Nonetheless, it offers tips and exercises from some of the best teachers on the web.  Previously, the best way to get this info was to shell out hundreds for one of their special programs.  Now it's on your phone <strike>inside of <b>3 bucks</b></strike> <b>for free</b>.
</p>
<h2 style='text-align:center'>
	Are you skeptical?  You've heard before that pickup lines don't work, haven't you?
</h2>
<ul>
	<li class='borderedbox'><b>The less you hesitate, the less she'll try to shoot you down</b>.  What you say isn't as important as you think.</li>
	<li class='borderedbox'>You will need to practice before you master flirting.  <b>Overcoming hesitation is the biggest step</b> towards effective practice.</li>
	<li class='borderedbox'>Stereotypical "pickup lines" that refer to sex inside the first sentence are needy and unlikely to be well-received.  That's not what you'll find in this app.</li>
	<li class='borderedbox'>Even if she notices you reading lines off your phone and makes fun of you, you can shrug it off and stay engaging.  She cares more about the core of your manliness, not the tiny details.  Plus, <b>teasing each other is the quickest way to get sexual</b> (and show her you really are a man).</li>
	<li class='borderedbox'>Guys who need the most help are also the most likely to avoid and demean the people who can help them.  Don't let your pride (or your friends) get in the way of your progress.  Remember, even Roger Federer has a coach!</li>
	<li class='borderedbox'><b>Standing out from the crowd</b> is easier than you think.  To stand out, all you need to do is be better than the "where are you from? what do you do?" guy.  Voila!  <a href="http://itunes.apple.com/us/app/talktoher/id384896043?mt=8#">Talk To Her</a>.</li>
</ul>
<div style="text-align:center">
	<object width="853" height="505"><param name="movie" value="http://www.youtube.com/v/44bTbEKATBc?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/44bTbEKATBc?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="853" height="505"></embed></object>
</div>